# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Environment
.env
.env.*
!.env.example

# Virtualenv
.venv
venv/
env/

# Databases
*.db
*.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ruff cache
.ruff_cache/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
tests/
pytest.ini

# IDE / Editor settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Alembic - THIS LINE IS INTENTIONALLY LEFT BLANK TO ALLOW ALEMBIC
alembic.ini
