# FastAPI and web server
fastapi==0.121.1
uvicorn==0.38.0
gunicorn==22.0.0
python-multipart==0.0.20

# Database (SQLAlchemy core and MySQL driver)
SQLAlchemy==2.0.44
alembic==1.17.1

# Asynchronous tasks (Celery)
celery==5.5.3
redis==7.0.1 # Broker for Celery
billiard==4.2.2
kombu==5.5.4
vine==5.1.0

# Object Storage (MinIO/S3 client)
boto3==1.40.75

# Pydantic and settings management
pydantic==2.12.4
pydantic-settings==2.12.0
python-dotenv==1.2.1
email-validator
slowapi

# Authentication
bcrypt==5.0.0
passlib==1.7.4
python-jose==3.5.0

# BioPython for analysis
biopython==1.86
bcbio-gff==0.7.1

# Other utilities
anyio==4.11.0
click==8.3.0
Mako==1.3.10
six==1.17.0

pymysql

cryptography
